<a href="https://colab.research.google.com/github/arumlim/eileen/blob/master/1128_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd     # pandas 라이브러리를 pd 이름으로 호출

# Series

In [7]:
prices = [1000, 1010, 1020]

In [8]:
dates = pd.date_range('20210901', periods=3)
dates

DatetimeIndex(['2021-09-01', '2021-09-02', '2021-09-03'], dtype='datetime64[ns]', freq='D')

In [9]:
pd.date_range('20210901', '20210930', freq='W')

DatetimeIndex(['2021-09-05', '2021-09-12', '2021-09-19', '2021-09-26'], dtype='datetime64[ns]', freq='W-SUN')

In [10]:
Series1 = pd.Series(prices, index=dates)
Series1

2021-09-01    1000
2021-09-02    1010
2021-09-03    1020
Freq: D, dtype: int64

In [11]:
Series2 = pd.Series(prices)
Series2

0    1000
1    1010
2    1020
dtype: int64

In [12]:
Series2[3] = 1030
Series2

0    1000
1    1010
2    1020
3    1030
dtype: int64

In [13]:
Series1[pd.to_datetime('2021-09-04')] = 1030
Series1

2021-09-01    1000
2021-09-02    1010
2021-09-03    1020
2021-09-04    1030
Freq: D, dtype: int64

In [14]:
Series1[1:2]

2021-09-02    1010
Freq: D, dtype: int64

Series 데이터 조회

In [15]:
Series1[2]

1020

In [16]:
Series1['2021-09-03']

1020

# DataFrame

In [17]:
prices = {'A전자' : [1000, 1010, 1020],
          'B화학' : [2000, 2010, 2020],
          'C금융' : [3000, 3010, 3020]}
df1 = pd.DataFrame(prices)
df1

    A전자   B화학   C금융
0  1000  2000  3000
1  1010  2010  3010
2  1020  2020  3020

In [18]:
dates

DatetimeIndex(['2021-09-01', '2021-09-02', '2021-09-03'], dtype='datetime64[ns]', freq='D')

In [19]:
df2 = pd.DataFrame(prices, index=dates)
df2

             A전자   B화학   C금융
2021-09-01  1000  2000  3000
2021-09-02  1010  2010  3010
2021-09-03  1020  2020  3020

데이터 선택

- iloc : 데이터 순서로 데이터를 가져온다.
-  loc

In [20]:
df2.iloc[0] # 2021-09-01 (row)

A전자    1000
B화학    2000
C금융    3000
Name: 2021-09-01 00:00:00, dtype: int64

In [25]:
df2.iloc[:, 0] # 'A전자' (column)

2021-09-01    1000
2021-09-02    1010
2021-09-03    1020
Freq: D, Name: A전자, dtype: int64

In [ ]:
df2.iloc[0, 0]

1000

In [ ]:
df2.loc['2021-09-01']

A전자    1000
B화학    2000
C금융    3000
Name: 2021-09-01 00:00:00, dtype: int64

In [ ]:
df2.loc[:, 'A전자']

2021-09-01    1000
2021-09-02    1010
2021-09-03    1020
Freq: D, Name: A전자, dtype: int64

In [21]:
df2.loc['2021-09-01', 'A전자']

1000

In [26]:
df2['A전자']

2021-09-01    1000
2021-09-02    1010
2021-09-03    1020
Freq: D, Name: A전자, dtype: int64

In [27]:
df2.A전자

2021-09-01    1000
2021-09-02    1010
2021-09-03    1020
Freq: D, Name: A전자, dtype: int64

In [28]:
df2['A전자']['2021-09-01']

1000

In [29]:
df2.loc[:, 'A전자']['2021-09-01']

1000

In [34]:
df2['D엔터'] = [4000, 4010, 4020]
df2

             A전자   B화학   C금융   D엔터  E텔레콤
2021-09-01  1000  2000  3000  4000  1000
2021-09-02  1010  2010  3010  4010  1010
2021-09-03  1020  2020  3020  4020  1020

In [33]:
df2['E텔레콤'] = Series1
df2

             A전자   B화학   C금융   D엔터  E텔레콤
2021-09-01  1000  2000  3000  4000  1000
2021-09-02  1010  2010  3010  4010  1010
2021-09-03  1020  2020  3020  4020  1020

In [41]:
df2.loc['2021-09-02':'2021-09-03','C금융':'D엔터']

             C금융   D엔터
2021-09-02  3010  4010
2021-09-03  3020  4020

Q.iloc를 활용하여 데이터 4010을 조회해보자.

In [38]:
df2.iloc[1, 3]

4010

In [ ]:
Q. loc를 활용하여 데이터 4010을 조회해보자

In [40]:
df2.loc["2021-09-02","D엔터"]

4010

데이터프레임 확장

In [47]:
Series1.name = 'F소프트'
Series1

2021-09-01    1000
2021-09-02    1010
2021-09-03    1020
2021-09-04    1030
Freq: D, Name: F소프트, dtype: int64

In [48]:
df2 = pd.concat([df2, Series1], axis=1)
df2

               A전자     B화학     C금융     D엔터    E텔레콤  F소프트  F소프트  F소프트
2021-09-01  1000.0  2000.0  3000.0  4000.0  1000.0  1000  1000  1000
2021-09-02  1010.0  2010.0  3010.0  4010.0  1010.0  1010  1010  1010
2021-09-03  1020.0  2020.0  3020.0  4020.0  1020.0  1020  1020  1020
2021-09-04     NaN     NaN     NaN     NaN     NaN  1030  1030  1030

In [50]:
df3 = df2.iloc[0]
df3 = df3 + 60
df3.name = pd.to_datetime('20210906')
df3

A전자     1060.0
B화학     2060.0
C금융     3060.0
D엔터     4060.0
E텔레콤    1060.0
F소프트    1060.0
F소프트    1060.0
F소프트    1060.0
Name: 2021-09-06 00:00:00, dtype: float64

In [56]:
df2 = df2.append(df3)
df2

               A전자     B화학     C금융     D엔터    E텔레콤    F소프트    F소프트    F소프트
2021-09-01  1000.0  2000.0  3000.0  4000.0  1000.0  1000.0  1000.0  1000.0
2021-09-02  1010.0  2010.0  3010.0  4010.0  1010.0  1010.0  1010.0  1010.0
2021-09-03  1020.0  2020.0  3020.0  4020.0  1020.0  1020.0  1020.0  1020.0
2021-09-04     NaN     NaN     NaN     NaN     NaN  1030.0  1030.0  1030.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-06  1060.0  2060.0  3060.0  4060.0  1060.0  1060.0  1060.0  1060.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0

In [57]:
df3 = df2.iloc[0] + 50
df3.name = pd.to_datetime('20210905')
df2 = df2.append(df3)
df2

               A전자     B화학     C금융     D엔터    E텔레콤    F소프트    F소프트    F소프트
2021-09-01  1000.0  2000.0  3000.0  4000.0  1000.0  1000.0  1000.0  1000.0
2021-09-02  1010.0  2010.0  3010.0  4010.0  1010.0  1010.0  1010.0  1010.0
2021-09-03  1020.0  2020.0  3020.0  4020.0  1020.0  1020.0  1020.0  1020.0
2021-09-04     NaN     NaN     NaN     NaN     NaN  1030.0  1030.0  1030.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-06  1060.0  2060.0  3060.0  4060.0  1060.0  1060.0  1060.0  1060.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0

In [58]:
df2 = df2.sort_index(axis=0)
df2

               A전자     B화학     C금융     D엔터    E텔레콤    F소프트    F소프트    F소프트
2021-09-01  1000.0  2000.0  3000.0  4000.0  1000.0  1000.0  1000.0  1000.0
2021-09-02  1010.0  2010.0  3010.0  4010.0  1010.0  1010.0  1010.0  1010.0
2021-09-03  1020.0  2020.0  3020.0  4020.0  1020.0  1020.0  1020.0  1020.0
2021-09-04     NaN     NaN     NaN     NaN     NaN  1030.0  1030.0  1030.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-06  1060.0  2060.0  3060.0  4060.0  1060.0  1060.0  1060.0  1060.0

데이터 삭제

In [59]:
df2.drop(pd.to_datetime('2021-09-05'))

               A전자     B화학     C금융     D엔터    E텔레콤    F소프트    F소프트    F소프트
2021-09-01  1000.0  2000.0  3000.0  4000.0  1000.0  1000.0  1000.0  1000.0
2021-09-02  1010.0  2010.0  3010.0  4010.0  1010.0  1010.0  1010.0  1010.0
2021-09-03  1020.0  2020.0  3020.0  4020.0  1020.0  1020.0  1020.0  1020.0
2021-09-04     NaN     NaN     NaN     NaN     NaN  1030.0  1030.0  1030.0
2021-09-06  1060.0  2060.0  3060.0  4060.0  1060.0  1060.0  1060.0  1060.0

In [60]:
df2.drop([pd.to_datetime('2021-09-02'), pd.to_datetime('2021-09-06')])

               A전자     B화학     C금융     D엔터    E텔레콤    F소프트    F소프트    F소프트
2021-09-01  1000.0  2000.0  3000.0  4000.0  1000.0  1000.0  1000.0  1000.0
2021-09-03  1020.0  2020.0  3020.0  4020.0  1020.0  1020.0  1020.0  1020.0
2021-09-04     NaN     NaN     NaN     NaN     NaN  1030.0  1030.0  1030.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0

In [61]:
df2.drop('D엔터', axis=1)

               A전자     B화학     C금융    E텔레콤    F소프트    F소프트    F소프트
2021-09-01  1000.0  2000.0  3000.0  1000.0  1000.0  1000.0  1000.0
2021-09-02  1010.0  2010.0  3010.0  1010.0  1010.0  1010.0  1010.0
2021-09-03  1020.0  2020.0  3020.0  1020.0  1020.0  1020.0  1020.0
2021-09-04     NaN     NaN     NaN     NaN  1030.0  1030.0  1030.0
2021-09-05  1050.0  2050.0  3050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  1050.0  1050.0  1050.0  1050.0
2021-09-06  1060.0  2060.0  3060.0  1060.0  1060.0  1060.0  1060.0

In [62]:
df2.drop(['C금융', 'E텔레콤'], axis=1)

               A전자     B화학     D엔터    F소프트    F소프트    F소프트
2021-09-01  1000.0  2000.0  4000.0  1000.0  1000.0  1000.0
2021-09-02  1010.0  2010.0  4010.0  1010.0  1010.0  1010.0
2021-09-03  1020.0  2020.0  4020.0  1020.0  1020.0  1020.0
2021-09-04     NaN     NaN     NaN  1030.0  1030.0  1030.0
2021-09-05  1050.0  2050.0  4050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  4050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  4050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  4050.0  1050.0  1050.0  1050.0
2021-09-06  1060.0  2060.0  4060.0  1060.0  1060.0  1060.0

# 데이터 **조회**

In [68]:
df2.head() #앞에서 보고 싶은 숫자 ()안에 넣기 ex. (2) <- 위에서 2 열 보임

               A전자     B화학     C금융     D엔터    E텔레콤    F소프트    F소프트    F소프트
2021-09-01  1000.0  2000.0  3000.0  4000.0  1000.0  1000.0  1000.0  1000.0
2021-09-02  1010.0  2010.0  3010.0  4010.0  1010.0  1010.0  1010.0  1010.0
2021-09-03  1020.0  2020.0  3020.0  4020.0  1020.0  1020.0  1020.0  1020.0
2021-09-04     NaN     NaN     NaN     NaN     NaN  1030.0  1030.0  1030.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0

In [66]:
df2.tail(3) #뒤에서 보고 싶은 숫자 ()안에 넣기 ex. (3) <- 위에서 3 열 보임

               A전자     B화학     C금융     D엔터    E텔레콤    F소프트    F소프트    F소프트
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-06  1060.0  2060.0  3060.0  4060.0  1060.0  1060.0  1060.0  1060.0

In [69]:
df2.iloc[2]

A전자     1020.0
B화학     2020.0
C금융     3020.0
D엔터     4020.0
E텔레콤    1020.0
F소프트    1020.0
F소프트    1020.0
F소프트    1020.0
Name: 2021-09-03 00:00:00, dtype: float64

In [70]:
df2.loc['2021-09-03']

A전자     1020.0
B화학     2020.0
C금융     3020.0
D엔터     4020.0
E텔레콤    1020.0
F소프트    1020.0
F소프트    1020.0
F소프트    1020.0
Name: 2021-09-03 00:00:00, dtype: float64

In [71]:
df2.iloc[1:3]

               A전자     B화학     C금융     D엔터    E텔레콤    F소프트    F소프트    F소프트
2021-09-02  1010.0  2010.0  3010.0  4010.0  1010.0  1010.0  1010.0  1010.0
2021-09-03  1020.0  2020.0  3020.0  4020.0  1020.0  1020.0  1020.0  1020.0

In [72]:
df2.loc['2021-09-02':'2021-09-03']

               A전자     B화학     C금융     D엔터    E텔레콤    F소프트    F소프트    F소프트
2021-09-02  1010.0  2010.0  3010.0  4010.0  1010.0  1010.0  1010.0  1010.0
2021-09-03  1020.0  2020.0  3020.0  4020.0  1020.0  1020.0  1020.0  1020.0

In [73]:
df2[1:3]

               A전자     B화학     C금융     D엔터    E텔레콤    F소프트    F소프트    F소프트
2021-09-02  1010.0  2010.0  3010.0  4010.0  1010.0  1010.0  1010.0  1010.0
2021-09-03  1020.0  2020.0  3020.0  4020.0  1020.0  1020.0  1020.0  1020.0

In [74]:
df2['C금융']

2021-09-01    3000.0
2021-09-02    3010.0
2021-09-03    3020.0
2021-09-04       NaN
2021-09-05    3050.0
2021-09-05    3050.0
2021-09-05    3050.0
2021-09-05    3050.0
2021-09-06    3060.0
Name: C금융, dtype: float64

In [75]:
df2.iloc[1:3, 2]

2021-09-02    3010.0
2021-09-03    3020.0
Name: C금융, dtype: float64

In [76]:
df2.loc['2021-09-02':'2021-09-03', 'C금융']

2021-09-02    3010.0
2021-09-03    3020.0
Name: C금융, dtype: float64

In [77]:
df2['E텔레콤'] * 10

2021-09-01    10000.0
2021-09-02    10100.0
2021-09-03    10200.0
2021-09-04        NaN
2021-09-05    10500.0
2021-09-05    10500.0
2021-09-05    10500.0
2021-09-05    10500.0
2021-09-06    10600.0
Name: E텔레콤, dtype: float64

In [78]:
df2.sum(axis=0)

A전자      8290.0
B화학     16290.0
C금융     24290.0
D엔터     32290.0
E텔레콤     8290.0
F소프트     9320.0
F소프트     9320.0
F소프트     9320.0
dtype: float64

In [79]:
df2.median(axis=1)

2021-09-01    1000.0
2021-09-02    1010.0
2021-09-03    1020.0
2021-09-04    1030.0
2021-09-05    1050.0
2021-09-05    1050.0
2021-09-05    1050.0
2021-09-05    1050.0
2021-09-06    1060.0
dtype: float64

In [80]:
df2.describe()

               A전자          B화학  ...         F소프트         F소프트
count     8.000000     8.000000  ...     9.000000     9.000000
mean   1036.250000  2036.250000  ...  1035.555556  1035.555556
std      22.638463    22.638463  ...    21.278576    21.278576
min    1000.000000  2000.000000  ...  1000.000000  1000.000000
25%    1017.500000  2017.500000  ...  1020.000000  1020.000000
50%    1050.000000  2050.000000  ...  1050.000000  1050.000000
75%    1050.000000  2050.000000  ...  1050.000000  1050.000000
max    1060.000000  2060.000000  ...  1060.000000  1060.000000

[8 rows x 8 columns]

In [81]:
df2

               A전자     B화학     C금융     D엔터    E텔레콤    F소프트    F소프트    F소프트
2021-09-01  1000.0  2000.0  3000.0  4000.0  1000.0  1000.0  1000.0  1000.0
2021-09-02  1010.0  2010.0  3010.0  4010.0  1010.0  1010.0  1010.0  1010.0
2021-09-03  1020.0  2020.0  3020.0  4020.0  1020.0  1020.0  1020.0  1020.0
2021-09-04     NaN     NaN     NaN     NaN     NaN  1030.0  1030.0  1030.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-06  1060.0  2060.0  3060.0  4060.0  1060.0  1060.0  1060.0  1060.0

In [87]:
df2.dropna(axis=1)

              F소프트    F소프트    F소프트
2021-09-01  1000.0  1000.0  1000.0
2021-09-02  1010.0  1010.0  1010.0
2021-09-03  1020.0  1020.0  1020.0
2021-09-04  1030.0  1030.0  1030.0
2021-09-05  1050.0  1050.0  1050.0
2021-09-05  1050.0  1050.0  1050.0
2021-09-05  1050.0  1050.0  1050.0
2021-09-05  1050.0  1050.0  1050.0
2021-09-06  1060.0  1060.0  1060.0

In [89]:
df2.dropna(axis=0) #넘값 날리기

               A전자     B화학     C금융     D엔터    E텔레콤    F소프트    F소프트    F소프트
2021-09-01  1000.0  2000.0  3000.0  4000.0  1000.0  1000.0  1000.0  1000.0
2021-09-02  1010.0  2010.0  3010.0  4010.0  1010.0  1010.0  1010.0  1010.0
2021-09-03  1020.0  2020.0  3020.0  4020.0  1020.0  1020.0  1020.0  1020.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-06  1060.0  2060.0  3060.0  4060.0  1060.0  1060.0  1060.0  1060.0

시계열 데이터일때 어쩌징?

In [83]:
df2.fillna(0) #넘값을 0으로 채우겠다 왜냐면 nan있으면 데이터 처리 못함

               A전자     B화학     C금융     D엔터    E텔레콤    F소프트    F소프트    F소프트
2021-09-01  1000.0  2000.0  3000.0  4000.0  1000.0  1000.0  1000.0  1000.0
2021-09-02  1010.0  2010.0  3010.0  4010.0  1010.0  1010.0  1010.0  1010.0
2021-09-03  1020.0  2020.0  3020.0  4020.0  1020.0  1020.0  1020.0  1020.0
2021-09-04     0.0     0.0     0.0     0.0     0.0  1030.0  1030.0  1030.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-06  1060.0  2060.0  3060.0  4060.0  1060.0  1060.0  1060.0  1060.0

In [84]:
df2.fillna(method='ffill') #NaN전의 값을 가져오는것

               A전자     B화학     C금융     D엔터    E텔레콤    F소프트    F소프트    F소프트
2021-09-01  1000.0  2000.0  3000.0  4000.0  1000.0  1000.0  1000.0  1000.0
2021-09-02  1010.0  2010.0  3010.0  4010.0  1010.0  1010.0  1010.0  1010.0
2021-09-03  1020.0  2020.0  3020.0  4020.0  1020.0  1020.0  1020.0  1020.0
2021-09-04  1020.0  2020.0  3020.0  4020.0  1020.0  1030.0  1030.0  1030.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-06  1060.0  2060.0  3060.0  4060.0  1060.0  1060.0  1060.0  1060.0

In [85]:
df2.fillna(method='bfill') #NaN후의 값을 가져오는것

               A전자     B화학     C금융     D엔터    E텔레콤    F소프트    F소프트    F소프트
2021-09-01  1000.0  2000.0  3000.0  4000.0  1000.0  1000.0  1000.0  1000.0
2021-09-02  1010.0  2010.0  3010.0  4010.0  1010.0  1010.0  1010.0  1010.0
2021-09-03  1020.0  2020.0  3020.0  4020.0  1020.0  1020.0  1020.0  1020.0
2021-09-04  1050.0  2050.0  3050.0  4050.0  1050.0  1030.0  1030.0  1030.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-06  1060.0  2060.0  3060.0  4060.0  1060.0  1060.0  1060.0  1060.0

나의 가설은 앞뒤 값 평균이라고 생각하는데 이 코드는 나중에 찾아 써보는걸로/

### 중복제거

In [91]:
df3 = df2.iloc[0]
df3 = df3 
df3.name = pd.to_datetime('20210906') # index
df3

df2 = df2.append(df3)
df2.drop_duplicates()

               A전자     B화학     C금융     D엔터    E텔레콤    F소프트    F소프트    F소프트
2021-09-01  1000.0  2000.0  3000.0  4000.0  1000.0  1000.0  1000.0  1000.0
2021-09-02  1010.0  2010.0  3010.0  4010.0  1010.0  1010.0  1010.0  1010.0
2021-09-03  1020.0  2020.0  3020.0  4020.0  1020.0  1020.0  1020.0  1020.0
2021-09-04     NaN     NaN     NaN     NaN     NaN  1030.0  1030.0  1030.0
2021-09-05  1050.0  2050.0  3050.0  4050.0  1050.0  1050.0  1050.0  1050.0
2021-09-06  1060.0  2060.0  3060.0  4060.0  1060.0  1060.0  1060.0  1060.0

In [ ]:
df3.iloc[]